alembic==1.12.1
bcrypt
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click
colorama==0.4.6
cryptography
distlib==0.3.7
filelock==3.13.1
Flask
Flask-Cors
Flask-Migrate==4.0.5
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
importlib-resources==6.1.1
itsdangerous
Jinja2
Mako==1.3.0
MarkupSafe
platformdirs==4.0.0
pycparser
pygame==2.5.2
pymongo==3.12.0
PyMySQL
pyOpenSSL
PySocks
python-dotenv==1.0.0
requests
six
SQLAlchemy
typing_extensions
urllib3
virtualenv==20.24.7
Werkzeug
zipp
